form {
    background-color: #333; /* This sets the background color of the form to dark gray */
    padding: 20px; /* This adds some space around the form fields */
    border-radius: 10px; /* This rounds the corners of the form */
    box-shadow: 2px 2px #fff; /* This adds a subtle white shadow to the form */
}


input[type="text"],textarea {
    background-color: #fff; 
    border: none;
    padding: 10px; 
    border-radius: 5px; 
    font-size: 16px; 
    color: #333; 
    margin-bottom: 20px; 
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}
h1 {
    padding-left: 20px;
}

h2 {
    padding-left: 20px;
}

label {
    font-size: 25px; 
    color: #fff; 
    display: block;
    margin-bottom: 10px;
}
label[for="yes"] {
    font-size: 20px;
}

label[for="no"] {
    font-size: 20px;
}


body {
    background-color: #333333; 
    color: #fff; 
    font-family: Arial, sans-serif; 
}

h1, h2, h3 {
    color: #fff; 
    text-shadow: 2px 2px #333; 
}

input[type="submit"] {
    padding: 7px 27px;
    gap: 10px;
    background: #f8f8f8;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 2px 2px 2px 1px rgb(8, 8, 8);
}

input[type="submit"]:hover {
    background-color: rgb(255, 255, 255); 
    color: #333; 
}

.nameInput {
    text-align: center;
}
.attendanceInput {
    text-align: center;
}
.submitButtonDiv {
    text-align: center;
}